
.title {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: 18px;
  margin-bottom: 8px;
}

.breadcrumbs {
  font-family: 'Crimson Text', 'tinos', serif;  
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  min-width: 229px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 7px;
  margin-bottom: 25px;
}

.breadcrumbs-link {
  color: #1E0606;
}

.breadcrumbs-link:hover {
  opacity: .75;
}

.breadcrumbs-link:active {
  color: #1E0606;
  opacity: 1;
}

.breadcrumbs-item-1::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 66px;
  transform: rotate(45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-item-1::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 66px;
  transform: rotate(-45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-item-2::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 170px;
  transform: rotate(45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-item-2::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 170px;
  transform: rotate(-45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-active{
  font-family: 'Crimson Text', 'tinos', serif;  
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  opacity: 0.5;
}

/* form */

.form {
  background: rgba(125, 151, 218, 0.2);
}

.form-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 42px 85px 15px 10px;
}

.form-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-bottom: 9px;
}

.form-text {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  align-items: center;
}

.form-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* form-cost */

.form-cost {
  border: none;
  width: 214px;
}

.input-cost {
  -webkit-appearance: none;
  width: 100%;
}

.input-cost::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.input-cost:focus {
  outline: none;
}

.input-cost::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.input-cost::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  margin-top: -10px;
  background: #C29974;
  cursor: pointer;
  
}

/* Тоже самое для Firefox */
.input-cost::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #C29974;
  cursor: pointer;
}

/* Тоже самое для IE */
.input-cost::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #C29974;
  cursor: pointer;
}

.input-cost::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #000000;
  opacity: 0.5;
}

.input-cost:focus::-webkit-slider-runnable-track {
  background: #000000;
  opacity: 0.5;
}

.input-cost::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #000000;
  opacity: 0.5;
}

.input-cost::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.input-cost::-ms-fill-lower {
  background: #000000;
  opacity: 0.5;

}

.input-cost:focus::-ms-fill-lower {
  background: #000000;
  opacity: 0.5;

}

.input-cost::-ms-fill-upper {
  background: #C29974;

}
.input-cost:focus::-ms-fill-upper {
  background: #C29974;

}

/* form-color */

.form-color {
  border: none;
  margin-right: 15px;
}

.label-color{
  padding-bottom: 15px;
}

.input-color {
  position: absolute;
  opacity: 0;
}

.input-color:focus + .checkbox-color-indicator {
  cursor: pointer;
  text-decoration: underline;
}

.checkbox-color-indicator {
  position: relative;
  border: 2px solid #C29974;
  border-radius: 3px;
  width: 19px;
  height: 19px;
  margin-right: 10px;
}

.input-color:checked + .checkbox-color-indicator {
  background: #ffffff;
}

.input-color:focus + .checkbox-color-indicator {
  background: #ffffff;
}

.input-color:checked + .checkbox-color-indicator::before {
  content: "";
  border: 1.5px solid #C29974;
  border-radius: 0.7px;
  transform: rotate(30deg);
  position: absolute;
  height: 15px;
  top: -2px;
  left: 9px;
}

.input-color:checked + .checkbox-color-indicator::after {
  content: "";
  border: 1.5px solid #C29974;
  border-radius: 0.7px;
  transform: rotate(-30deg);
  position: absolute;
  height: 10px;
  top: 3px;
  left: 3px;
}

/* form-delivery */

.form-delivery {
  border: none;
  margin-right: -35px;
}

.label-delivery {
  padding-bottom: 10px;
}

.radio-delivery-indicator {
  position: relative;
  border: 2px solid #C29974;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input-delivery {
  position: absolute;
  opacity: 0;
}

.input-delivery:focus + .radio-delivery-indicator {
  background: #ffffff;
}

.input-delivery:checked + .radio-delivery-indicator::before {
  content: "";
  border-radius: 15px;
  background: #C29974;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
}

/* form-amount */

.form-amount {
  border: none;
  margin-right: -33px;
}

.container-amount {
  display: flex;
}

.radio-amount-indicator {
  display: flex;
  width: 80px;
  height: 35px;
  padding-top: 7px;
  justify-content: center;
  background: #FFFFFF;
}

.label-amount {
  position: relative;
}

.input-amount {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
}

.input-amount:hover + .radio-amount-indicator {
  background: #EDDEEB;
  text-decoration: none;
}

.input-amount:checked + .radio-amount-indicator {
  background: #F3D0DB;

}

.legend-amount {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

.form-button {
  height: 40px;
  margin-top: 37px;
  margin-right: 20px;
}


/* toys */

.toys-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.toys-link {
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.toys-link:hover::before {
  position: absolute;
  bottom: 220px;
  left: 87px;
  content: "LEARN MORE";
  width: 207px;
  height: 207px;  
  background: #E5EAF8;
  opacity: 0.9;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #1E0606;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.toys-link:active::before {
  position: absolute;
  content: "LEARN MORE";
  width: 207px;
  height: 207px;  
  background: #E5EAF8;
  opacity: 0.67;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #1E0606;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}



.toys-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  padding-top: 12px;
}

.toys-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.pagination-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: -13px;
}


.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 234px;
}

.pagination-link:hover {
  color: #1E0606;
  opacity: 0.5;
}

.pagination-link:focus {
  color: #1E0606;
  opacity: 0.5;
  outline: none;
}

.pagination-link-active:focus {
  color: #1E0606;
  opacity: 0.5;
  outline: none;
}

.pagination-link:active {
  color: #1E0606;
  opacity: 1;
  cursor: none;
}

.pagination-arrow {
  border: none;
  background: white;
  outline: none;
}

.arrow-left::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(45deg);
  width: 21px;
  height: 21px;
  border-left: 4px solid rgba(30, 6, 6, 0.12);
  border-bottom: 4px solid rgba(30, 6, 6, 0.12);
}

.arrow-left:hover::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(45deg);
  width: 21px;
  height: 21px;
  border-left: 4px solid #C29974;
  border-bottom: 4px solid #C29974;
  cursor: pointer;
}

.arrow-left:active::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(45deg);
  width: 21px;
  height: 21px;
  border-left: 4px solid #C29974;
  border-bottom: 4px solid #C29974;
  cursor: none;
}

.arrow-left:focus::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(45deg);
  width: 21px;
  height: 21px;
  border-left: 4px solid #C29974;
  border-bottom: 4px solid #C29974;
  cursor: pointer;
}

.arrow-right::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(-45deg);
  width: 21px;
  height: 21px;
  border-right: 4px solid rgba(30, 6, 6, 0.12);
  border-bottom: 4px solid rgba(30, 6, 6, 0.12);
}

.arrow-right:hover::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(-45deg);
  width: 21px;
  height: 21px;
  border-right: 4px solid #C29974;
  border-bottom: 4px solid #C29974;
  cursor: pointer;
}

.arrow-right:active::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(-45deg);
  width: 21px;
  height: 21px;
  border-right: 4px solid #C29974;
  border-bottom: 4px solid #C29974;
  cursor: none;
}

.arrow-right:focus::before {
  content: "";
  display: flex;
  position: relative;
  transform: rotate(-45deg);
  width: 21px;
  height: 21px;
  border-right: 4px solid #C29974;
  border-bottom: 4px solid #C29974;
  cursor: pointer;
}

.pagination-link {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
}

.pagination-link-active {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #C29974;
}

