

/* poster */

.poster {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 372px;
  background: #EEE4DB;
  margin-top: 89px;
  width: 1180px;
}

.slider_nav {
  display: flex;
  position: absolute;
  padding-top: 17px;
  padding-left: 28px;
  flex-direction: column;
}

.slider_nav-inner {
  display: flex;
  flex-direction: column;
  height: 45px;
  justify-content: space-between;
}

.slider_nav-item_active {
  width: 31px;
  height: 3px;
  border: 0px;
  background: rgba(30, 6, 6, 0.6);
}

.slider_nav-item {
  height: 3px;
  width: 31px;
  border: 0px;
  background-color: #D6CAC2;
  }

.slider_nav-item:hover {
  background: #725F5B;
  cursor: pointer
}

.slider_nav-text{
  font-family: Montserrat;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  padding-bottom: 10px;
}

.poster-title {
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  margin-left: 133px;
  width: 307px;

}

.poster-title-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 110% 
  color: #1E0606;
  margin: 0;
}

.poster-text{
  font-family: Crimson Text;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.poster-button {
  display: block;
  text-align: center;
  width: 161px;
}

.background-img {
  display: flex;
  position: absolute;
  max-width: 635.49px;
  width: 45vw;
  height: 461px;
  bottom: 0;
  right: 99px;
  }

.text-small{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
  background: #C29974;
  margin: 0 auto;
  padding: 11px 20px;
  width: 1180px;
}

/* products */

.products {
  padding-top: 90px;
  
}


.products-title {
  font-family: Montserrat;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
Color: #1E0606;
margin-top: 0;

}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.products-link {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  width: 300px;
  padding: 0 10px;
  margin-bottom: 20px;
  min-height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.products-link:hover {
  text-decoration-line: underline;
}

.products-link:active {
  text-decoration-line: underline;
  cursor: none;
}

.link-kids {
  background: #DBE4DB;
  background-image: url(/images/product-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  }

.link-shop {
  background: rgba(186, 142, 107, 0.3);
  background-image: url(/images/product-2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link-toys {
  background: #F8F2DA;
  background-image: url(/images/product-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.link-accessories {
  background: rgba(9, 3, 79, 0.17);
  background-image: url(/images/product-4.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slider-nav {
  display: flex;
  align-items: center;
  
}

  .slider_nav-button {
  min-width: 37px;
height: 37px;
background: rgba(112, 187, 220, 0.2);
margin-top: 13px;
margin-right: 18px;
position: relative;
opacity: 1;
}

.slider_nav-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nav-button-left::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 12px;
  transform: rotate(45deg);
  width: 4px;
  height: 19px;
  background-color:  #1E0606;
}

.nav-button-left::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  transform: rotate(-45deg);
  width: 4px;
  height: 19px;
  background-color:  #1E0606;
}

.nav-button-right::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  transform: rotate(45deg);
  width: 4px;
  height: 19px;
  background-color:  #1E0606;
}

.nav-button-right::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 15px;
  transform: rotate(-45deg);
  width: 4px;
  height: 19px;
  background-color:  #1E0606;
}

.products-text {
  font-size: 16px;
line-height: 22px;
color: #1E0606;
width: 580px;
margin-top: 23px;
margin-left: 2px;
}

/* delivery */

.delivery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 74px;
  display: flex;
}

.delivery-img {
  width: 480px;
  margin-right: 50px;
}

.delivery-content {
  width: 520px;
  padding: 30px 20px;
  margin-left: 50px;
}

.delivery-title {
  font-family: Montserrat;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin: 0;
padding-bottom: 6px;
}

.delivery-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.delivery-link {
  font-family: Crimson Text;
font-style: italic;
font-weight: bold;
font-size: 26px;
line-height: 32px;
color: #1E0606;
padding: 11px 0px;
}

.delivery-link_active {
  position: absolute;
width: 326px;
height: 55px;
background: rgba(112, 187, 220, 0.2);
margin-left: -60px;
background-image: url(/images/delivery-link_active.svg)
}

.delivery-text {
  font-size: 16px;
line-height: 22px;
color: #1E0606;
padding-top: 15px;
margin: 0;
}

.delivery-button {
  display: block;
  text-align: center;
  width: 149px;
  margin-top: 26px;
}

/* partners */

.partners-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}

/* about us */

.about-us-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  }

.about-us {
    max-width: 543px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 57px;
  background-position-y: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/about-us-background.svg)
  }

.about-us-title {
  font-family: Montserrat;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin: 0;
padding-bottom: 10px;
}

.title-middle {
  font-family: Crimson Text;
font-style: italic;
font-size: 26px;
line-height: 32px;
color: #1E0606;
margin-bottom: 10px;
}

.about-us-text {
  font-size: 16px;
line-height: 22px;
color: #1E0606;
margin-bottom: 20px;
}

.about-us-button {
  display: block;
  width: 123px;
  margin: 26px 0px;
  text-align: center;
}

/* contacts */

.contacts {
  right: 0;
  width: 543px;
  padding-left: 30px;
  padding-right: 30px;
  background-position-y: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/contacts-background.svg)

}

.contacts-title {
  font-family: Montserrat;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin: 0;
padding-bottom: 20px;
}

.contacts-text {
  font-size: 16px;
line-height: 22px;
color: #1E0606;
margin-bottom: 20px;
}

.form {
  display: none;
}

