

.title {
  font-family: Montserrat;
font-weight: bold;
font-size: 40px;
line-height: 49px;
text-transform: uppercase;
color: #1E0606;
margin-top: 20px;
margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  min-width: 167px;
  justify-content: space-between;
  position: relative;
  margin-top: 7px;
  margin-bottom: 25px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 63px;
  transform: rotate(45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 63px;
  transform: rotate(-45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-link {
  font-family: Crimson Text;
font-style: italic;
font-size: 20px;
line-height: 25px;
color: #1E0606;
}

.breadcrumbs-active {
  
font-family: Crimson Text;
font-style: italic;
font-size: 20px;
line-height: 25px;
color: #1E0606;
opacity: .5;
}

  .breadcrumbs-link:hover {
    opacity: .75;
  }
  
  .breadcrumbs-link:active {
    color: #1E0606;
    opacity: 1;
  }

  .support-text {
font-size: 16px;
line-height: 22px;
color: #1E0606;
width: 380px;
}

.text_large {
  font-family: Montserrat;
font-weight: 600;
font-size: 26px;
line-height: 34px;
text-transform: uppercase;
color: #C29974;
}