

.title {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: 19px;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  min-width: 167px;
  justify-content: space-between;
  position: relative;
  margin-top: 8px;
  margin-bottom: 24px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 64px;
  transform: rotate(45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 64px;
  transform: rotate(-45deg);
  width: 2px;
  height: 8px;
  background-color:  #1E0606;
}

.breadcrumbs-link {
  font-family: 'Crimson Text', 'tinos', serif;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.breadcrumbs-active {
  
  font-family: 'Crimson Text', 'tinos', serif;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  opacity: .5;
}

.breadcrumbs-link:hover {
  opacity: .75;
}

.breadcrumbs-link:active {
  color: #1E0606;
  opacity: 1;
}

.form-support {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us-form {
  display: flex;
  padding: 40px 40px;
  width: 680px;
  min-height: 542px;
  flex-wrap: wrap;
  background: #E5EAF8;
  position: relative;
}

.support-text {
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  width: 380px;
  margin-top: 0;
  padding-bottom: 4px;
}

.text_large {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
}